body {
  font-family: "BrandonGrotesque-Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.header-content {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  font-size: 22px;
}

.navigation {
  padding-top: 13px;
  padding-bottom: 13px;
  text-align: center;
  color: #fff;
  background-color: #2e61a9;
}

.faq-content {
  max-width: 550px;
  height: 500px;
  margin: 0 auto;
  padding-top: 48px;
}

.faq-search {
  margin-bottom: 32px;
}

.faq-search_input {
  width: 100%;
  padding: 10px;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
}

.faq-nav-menu-link {
  margin-right: 36px;
  text-transform: uppercase;
}

.faq-nav-menu-link:last-child {
  margin-right: 0;
}

.faq-nav-menu .active {
  position: relative;
  font-weight: bold;
  color: #ef5e3a;
}

.faq-nav-menu .active::after {
  position: absolute;
  content: "";
  top: 24px;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background-color: #ef5e3a;
}

.faq-nav-menu {
  position: relative;
}

.faq-nav-menu::after {
  position: absolute;
  content: "";
  top: 24px;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #d6d6d6;
}

.questions-list {
  margin-top: 53px;
}

.question-item {
  position: relative;
  margin-bottom: 25px;
}

.question-item::before {
  position: absolute;
  content: "";
  top: -15px;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #d6d6d6;
}

.question-item:first-child::before {
  display: none;
}

.question-title {
  position: relative;
  line-height: 29px;
  margin-bottom: 16px;
}

.dropdown-toggle {
  position: absolute;
  right: 0;
  bottom: 5px;
  color: #838383;
  background-color: transparent;
  cursor: pointer;
}

.question-item-answer {
  display: none;
  line-height: 20px;
  letter-spacing: 0.01em;
}

.footer {
  color: #fff;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 45px;
  background-color: #2e61a9;
}

.show {
  display: block;
}

.hide {
  display: none;
}
